.section-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
article{
    display: flex;
   width: 25%;
   margin: 10px;
   align-items: stretch;
} 
.card{
    padding-top: 10px;
}
.card-title{
    text-align: center;
    font-weight: bold;
}